<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/hospital/index">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/hospital/addDepartment">
          <i class="bi bi-hospital"></i>
          <span>Add Department</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/hospital/addDoc">
          <i class="bi bi-file-medical"></i>
          <span>Add Doctor</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/hospital/appoiments">
          <i class="bi bi-people"></i>
          <span>Appoinments</span>
        </a>
      </li>

    </ul>

  </aside>