<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/user/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->



      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/user/appoinmentList">
          <i class="bi bi-file-earmark-person-fill"></i>
          <span>Appoinment Details</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/">
          <i class="bi bi-browser-chrome"></i>
          <span>Website</span>
        </a>
      </li>

    </ul>

  </aside>